# port for your backend to run on
PORT=8000 

# Database credentials
DATABASE_USERNAME= # database username default postgres
DATABASE_PASSWORD= # database password 
DATABASE_HOSTNAME= # database hostname default localhost
DATABASE_PORT= # database port default 5432
DATABASE_NAME= # database name