# port for your backend to run on
PORT=8000 

# Database credentials
DATABASE_USERNAME= # database username default postgres
DATABASE_PASSWORD= # database password 
DATABASE_HOSTNAME= # database hostname default localhost
DATABASE_PORT= # database port default 5432
DATABASE_NAME= # database name

# JWT Settings
SECRET_KEY= # JWT secret key 
ALGORITHM= # JWT algorithm default HS256
ACCESS_TOKEN_EXPIRE_MINUTES= # JWT access token expiry in minutes default 60*24*7
REFRESH_TOKEN_EXPIRE_MINUTES= # JWT refresh token expiry in minutes default 60*24*30

# Security Settings
PASSWORD_SALT= # Password salt

# Authentication Settings
OTP_EXPIRY_MINUTES= # OTP expiry in minutes default 10
OTP_ATTEMPTS= # OTP attempts default 3



CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET= 


THE_MOVIE_DB_ACCESS_TOKEN=
THE_MOVIE_DB_API_KEY=

RAWG_API_KEY=